/* Center the loader */
#loader {
/*    position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1; */
  width: 150px;
  height: 150px;
/*   margin: -75px 0 0 -75px; */
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
/*   width: 120px;
  height: 120px;  */
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin:auto;
}

#loader_text {
/*   position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: 75px 0 0 -75px; */
  font-size: 15px;
  color: white;
}

#center {
  text-align: center;
}

audio, video {
/*   left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); */
  width:95%;
  object-fit: unset;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

html {
/*     background-repeat: no-repeat; */
/*     background-size: 100%; */
/*    background-image: url("https://cdn.glitch.com/cc1ad3ce-ecb3-4aee-9bf7-30e6a366547f%2Ftop.png?1543596118112"); */
/*    background: lightblue url("https://cdn.glitch.com/cc1ad3ce-ecb3-4aee-9bf7-30e6a366547f%2Ftop.png?1543596118112") no-repeat fixed center;  */
}

.button.sign-up {
  background-color: #FFF;
}

.button.sign-up:hover {
  background-color: #FFF;
}